/* Color scheme */
/* Gold background color: #e6e600  */
/* Grey font & menu color: #b3b3b3  */
/* Dark Gray header color: #888888  */
/* Hovor Color: #e6e600 */
/* Black Text color: #000000  */
/* Background grey: #666666 */

body {
	background: gold; 
	}
	
header{
	background-color:#b3b3b3;
	color: black;
	position: fixed;
	text-align: center;
	width: 100%;
	top: 0;
	border-collapse: collapse;
}

h1 { 
	text-align: center; 
	font-weight: bold; 
	font-size: 20pt; 
	}

ul#dirlist { 
	list-style-type: none; 
	border: solid 2px black;
}

#dirlist li { 
	display: block; 
	float: left; 
	font-weight: bold; 
	text-align: center;
	font-variant: small-caps;
	padding: 5px; 
	font-size: 12pt;
}

#dirlist a { 
	padding: 15px 15px; 
	}

		
#dirlist a:link, #dirlist a:visited { 
	color: #000000; 
	background-color: #b3b3b3; 
	text-decoration: none; 
	text-align: center;
	}

#dirlist a:hover { 
	color: #000000; 
	background-color: #e6e600; 
	text-decoration: none; 
	}
		
#dirlist { 
	background-color:#666666;
	overflow:hidden;
	text-align:center;
	}
		
a:hover {text-decoration: underline;}

.boxarea {
	border: solid 2px black;
	background: #666666;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 { 
	font-weight:bold;  
	font-size:30pt; 
	border: solid 2px black;
	background: #b3b3b3;
	text-align: center;
	}

.picture_size {
	border: solid 2px black; 
	width: 250px;
	height: 400px;
	float: left;
	margin: 20px;
}

.picture_size2 {
	border: solid 2px black; 
	width: 450px;
	height: 250px;
	float: left;
	margin: 20px;
}

.middle {
	border: solid 2px black; 
	background: #b3b3b3;
	text-align: left;
	padding: 20px;
	overflow: auto;
	font-size: 20pt;
	
}

.middle2 {
	border: solid 2px black; 
	background: #b3b3b3;
	text-align: left;
	padding: 20px;
	overflow: auto;
	font-size: 20pt;
}

.textbox {
	border: solid 2px black;
	background: #b3b3b3;
	padding: 20px;
	font-size: 20pt;
}